html, body
{
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    margin: 0;
}

*
{
    box-sizing: border-box;
}



div.head
{
    width: 100%;
    
    padding: 5px 0 5px 0;
    
    border-bottom: 1px solid black;
    
    text-align: center;
}

div.sidebar
{
    float: left;
    
    width: 20%;
    height: 100%;
    
    border-right: 1px solid black;
}

div.content
{
    float: left;
    
    width: 80%;
    height: 100%;
    
    left: 20%;
    right: 0;
}



span#title
{
    font-size: 2em;
    font-weight: bolder;
}

span#group
{
    font-size: 1em;
    font-style: italic;
}

span#names
{
    
}



ul
{
    list-style-type: none;
}

div.sidebar > ul
{
    width: 100%;
    
    padding: 0;
    margin: 0;
}

div.sidebar > ul > li
{
    width: 100%;
    
    border-bottom: 1px solid black;
    
    overflow: hidden;
    
    font-weight: bold;
}

div.sidebar > ul > li > ul, div.sidebar > ul > li > ul > li > ul
{
    width: 100%;
    
    padding: 0;
    margin: 0;
}

div.sidebar > ul > li > ul > li.subnav, div.sidebar > ul > li > ul > li > ul > li.subsubnav
{
    border-top: 1px solid black;
}

div.sidebar > ul > li > span
{
    display: inline-block;
    
    width: 100%;
    
    padding: 5px 0 5px 10px;
}

div.sidebar > ul > li > ul > li > span
{
    display: inline-block;
    
    width: 100%;
    
    padding: 5px 0 5px 20px;
}

div.sidebar > ul > li > ul > li > ul > li > span
{
    display: inline-block;
    
    width: 100%;
    
    padding: 5px 0 5px 30px;
}

span.right
{
    float: right;
    
    padding-left: 5px;
    padding-right: 5px;
}

.rotate {
     -moz-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
               zoom: 1;
}



span#intro
{
    display: inline-block;
    
    margin: 5px;
}



div.filelist
{
    border-bottom: 1px solid black;
}

div.filelist > span
{
    display: inline-block;
    
    width: 100%;
    height: 47.5px;
    
    padding-top: 5px;
    padding-left: 5px;
    
    font-size: 2em;
}

div.filelist > span > span.right
{
    display: inline-block;
    
    padding-top: 0;
    padding-right: 5px;
}

.filetable
{
    display: none;
}

.filetable > div
{
    border-top: 1px solid black;
}

.filecol
{
    display: inline-block;
    
    width: 80%;
    
    padding: 5px;
    
    border-right: 1px solid black;
}

.filedownload
{
    display: inline-block;
    
    width: 20%;
    
    padding: 5px;
    padding-left: 10px;
}
